/* This Must always be on the top of the CSS file ! */

@import url('https://fonts.googleapis.com/css?family=Lato');
/* source= https://fonts.google.com/specimen/Lato?selection.family=Lato */

/* Take note above ! */


/* ONLY FOR NAVBAR ************************************************************/
#brand-image {
   position: absolute;
   margin: 1.5px;
   border-radius: 50%; /*makes brand-image round*/
}

/*moves nav bar to the right so it does not overlap image*/
#bs-example-navbar-collapse-1{
  margin-left: 60px;
}

/*Links Navbar ! */
#navbar
  a:link{
  color: #e4004f !important;   /*pink*/
  background: transparent;
  }
  #navbar
    a:visited{
    color: #580021 !important;   /*plum*/
    background: transparent;
    }
    #navbar
      a:hover{
      color: #3ca53a !important;   /*green*/
      background: transparent;
      }
      #navbar
        a:active{                  /*default color ?*/
          background: transparent;
        }
        #navbar
          a:focus{ /*maintains color after click ends */
          background: transparent !important;
          border: 0px; /*removes border around clicked dropdown-menu*/
          box-shadow: none;
          }



.navbar{
    font-size: 17px; /*set size of the text in navbar*/
    border: 0px; /*removes border around navbar*/
    background: #fff; /* to make it look like content disappears when scrolled up to navbar*/
    box-shadow: none !important;
}

.dropdown-menu{
    font-size: 17px; /*set size of the text in dropdown-menu*/
    border: 0px; /*removes border around dropdown-menu*/
    box-shadow: none;
}
  .dropdown-menu
    a:hover{
    background: transparent !important;   /*makes background of dropdown-menu transparent */
    box-shadow: none;
    }

/* Note:
  (1)Shadow on Project shows when expanding screen
  (2)border under toggle bar shows when clicked
*/

 /* ONLY FOR NAVBAR ABOVE --------------------------------------------------- */

/* ------------------------------------ FOR ENTIRE SITE --------------------- */


body{
  padding-top: 5rem; /* so top of content is not covered by navbar*/
  font-family: 'Lato', sans-serif;
  /*family name, generic family*/
}

canvas{

  width: 100%;
  height: auto;

}

@media only screen and (min-width: 500px)
{
  #name{
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    padding: 10rem 8rem;
    text-align: center !important;
  }

  #tagline{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    padding: 18rem 8rem 5rem 20rem;
    text-align: center !important;
  }
}


a:link{
color: #e4004f ;   /*pink*/
}
  a:visited{
  color: #580021 ;   /*plum*/
  }
    a:hover{
    color: #3ca53a ;   /*green*/
    text-decoration: none ;
    }
      a:active{
      color: #3ca53a ;   /*green*/
      }
        a:focus{ /*maintains color after click ends */
        color: #9b26af ;  /*Primary Purple*/
        text-decoration: none ;
        }

/************************************* FOR ENTIRE SITE ABOVE************************/

/* INDEX Page*/

.indexpage{

  /* z-index: -1 !important; */
  /*The higher the z-index, the higher the priority*/

  background: linear-gradient(270deg, #7b2a99, #00907e, #e13989);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}


@-webkit-keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@keyframes AnimationName {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}



/* references: for animating gradient

  https://www.gradient-animator.com/
  https://gist.github.com/polikis/3561324

 */

/* INDEX PAGE ABOVE*/

/* About Page Only ************************************************************/

.fa.fa-cirlce{
  color:  #fff !important;
}

/*?????????below Not Working*/
#circle
a:link{
color: #e4004f !important;   /*watermelon meat*/
}
  #circle
  a:visited{
  color:  yellow !important;   /*watermelon meat*/
  }
    #circle
    a:hover{
    color: #3ca53a !important;   /*green*/
    text-decoration: none !important;
    }
      #circle
      a:active{
      color: #3ca53a !important;   /*green*/
      }
        a #circle
        a:focus{ /*maintains color after click ends*/
        color: #e4004f !important;   /*watermelon meat*/
        text-decoration: none !important;
        }
/*????????? above Not working*/

.about-me-text{
  font-size: 15px;
  text-align: left;
}

body.aboutpage{
  background-image: url(../../images/snowfall.gif) ;
}

/* BLLLLOGGGG ************************************************************/


body.blogpage{
  background-image: url(../../images/flower.png) ;
}

.intro-header{
  background-color: rgba(255, 255, 255, 0.5);
  /*opacity 50%*/
}

.site-heading{

  color: #9b26af;
  /*watermelon pink*/
  font-size: 30px;
}

h1.heavy{
  font-weight: bold;
  text-align: center;
}

.subheading{
  /*this should come after .stie-heading*/
    font-size: 20px;
}


#blogroll{
  /*Main Content*/
  background-color: #ffffff;
  padding: 40px;
}

.post-subtitle{
  font-size: 20px;
}

/****** BLOG MODAL PARTS Below *****************/

img.modal1{
  width: 50%;
  height: 50%;

}

p#share{

  text-align: right;
}
/****** BLOG MODAL PARTS Above*****************/



/*RESUME !!!!!!!!!!!!!!!!!!!!*/

iframe#resume{

  height: 1000px !important;

}

a#download{
  font-size: 20px;
}

h2#resume-title{

  color: #e4004f;
}

/*RESUME !!!!!!!!!!!!!!!!!!!!*/


/********************************************* PAPERs*/

/* NOT WORKING !

@media (min-width: 768px) {
  div#article.modal-dialog {
    width: 600px !important;
    height: 1000px !important;
    margin: 30px auto !important;
  }
}

@media (min-width: 992px) {
  div#article.modal-lg {
    width: 900px !important;
    height: 1000px !important;
  }
}*/

iframe.article{

  height: 500px !important;
  width: 800px !important;

}



/********************************************* PAPERS */


/***************************** CONTACT Page Only ******************************/


body.contactpage{
  background-image: url(../../images/white.png) ;
  background-repeat: no-repeat;
}

/*FOOTER BELOW*****************************************************************/
footer{
  background: #fff;
}

#social-media .fa{
  margin: 10px;
  margin-bottom: 20px;
}
/*FOOTER***********************************************************************/
